<% @profiles.each do |p| %>
<div class="section">
		<%= p.name %>
</div>
<% end %>

<!--
<% if user_signed_in? %>
sign in <%= current_user.email %> 
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else %>
no user
<%= link_to "Login", new_user_session_path %>
<% end %>
-->
