<h3> <%= @profile.name %></h3>
<hr/>
<dl>
	<dt> email </dt>
	<dd> <%= @profile.email %></dd>

	<dt> phone_number </dt>
	<dd> <%= @profile.phone_number %> </dd>
</dl>

<%= link_to 'Back', root_path %>

