// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$group-width: 540px;
$group-size: 6;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

table.group {
		width: $group-width;
		margin: 30px auto;

		td {
				width: $group-width / $group-size;
				text-align: center;
		}
}

form.edit_profile {
	width: $group-width;
	margin: 30px auto

}