// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$group-width: 540px;
$group-size: 6;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

table.group {
		width: $group-width;
		margin: 30px auto;

		td {
				width: $group-width / $group-size;
				text-align: center;
		}
}

#color-picker {
	width: 100px;
}

form.edit_profile {
	width: $group-width;
	margin: 30px auto;

	.tag {
		float: left;
		display: inline;
	}

	.tag-color {
		float: left;
		border-radius: 5px;
		margin: 5px auto;
		margin-right: 3px;
		width: 10px;
		height: 10px;
	}

	.tag-remove {
		margin-right: 15px;
	}
}

#tag-modal .modal-dialog {
	width: 300px;
}
